/*GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5; /* cinza bem claro */
  color: #333;
}

header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  margin-bottom: 40px;
}

/* NAV BAR */
.nav {
  color: #444;
  font-weight: 500;
  justify-content: left;
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav a {
  text-decoration: none;
}

.nav p {
  padding-left: 20px;
}

/*CONTAINER E FORMULÁRIOS*/
main {
  align-items: center;
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  background: #ffffff;
  padding: 30px 40px;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input[type="text"],
input[type="password"],
input[type="date"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.alerta {
  margin-top: 0px;
  text-align: center;
  color: #2a8cbf;
  font-weight: 500;
}

/* BOTÕES */
form button {
  padding: 12px;
  background: #2a8cbf;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #71ad95;
}

/*LISTAR MEDICOS*/

.container .medico {
  justify-content: space-between;
  align-items: center;
}

.container h3,
h2,
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

/*BOTÃO DE EXCLIOR*/
.lixo {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #d9534f; /* vermelho suave */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.lixo i {
  font-size: 1.2rem;
  color: white;
}

/*CONSULTA*/

.consulta {
  gap: 5px;
}

/*LISTAR CONSULTA*/

.menor {
  width: 300px;
  align-self: center;
  gap: 5px;
}
